<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
    <label for="Name">Name</label>
    <input type="text" name="Name" value="{{l2.Name}}"><br><br>

    <label for="Fundcode">Fundcode</label>
    <input type="number" name="Fundcode" value="{{l2.Fundcode}}"><br><br>

    <label for="Investedamount">Investedamount</label>
    <input type="number" name="Investedamount" value="{{l2.Investedamount}}"><br><br>

    <label for="Unitheld">Unitheld</label>
    <input type="number" name="Unitheld" value="{{l2.Unitheld}}"><br><br>

    <input type="submit"  value="submit">

    <input type="reset" value="reset">

    </form>
    
</body>
</html>